{% extends "base.html" %}
{% set active_page = "index" %}
{% set title = "Home" %}

{% block content %}


    <h1>Home</h1>
    <p>Info about the home page will go here. This includes maps, results, selection options, and overlays.</p>
<br>


<div id="page" class="page">

<div id="chart" class="chart"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graph_json | safe}};
        Plotly.plot("chart",graphs,{});
    </script>


<!-- Switch between the inputs and impacts pages with button
 UPDATE: to a card and nicer buttons -->
<div id="UserForm" class="UserForm">
<div id="Options" class="Options">
<p>
    <input id="InputsButton" type="button" value="Inputs" onclick="inputsVisible();"/>
    <input id="ImpactsButton" type="button" value="Impacts" onclick="impactsVisible();"/>
</p>
</div>

<!-- Uses Cards to get more modern look -->
<div class="card text-center" style="width: 23rem;">
    <div class="card-body">

        <!-- INPUTS PAGE -->
        <div id="Inputs" class="Inputs">

        <!-- Divides the eyes buttons and rest of form into their own columns, so that
         the eyes being clicked do not submit the form-->
        <div class="row">

        <!-- The eye buttons, in the left column -->
        <div class="column left">

            <p>
            <br><br><br><br><br><br><br><br><br><br>
            <input id="TestButton" type="image" src="{{url_for('static', filename='closed-eyes.png')}}" width="15" height="15" class="closed" onclick="testsVisible();"/>
            <br><br><br>
            <input id="TestButton2" type="image" src="{{url_for('static', filename='closed-eyes.png')}}" width="15" height="15" alue="Testing" onclick="testsVisible2();"/>
            <br><br><br>
            <input id="TestButton3" type="image" src="{{url_for('static', filename='closed-eyes.png')}}" width="15" height="15" alue="Testing" onclick="testsVisible3();"/>
            <br><br><br>
            <input id="TestButton4" type="image" src="{{url_for('static', filename='closed-eyes.png')}}" width="15" height="15" alue="Testing" onclick="testsVisible4();"/>
            </p>
        </div>

        <div class="column right">


            <!-- Start of baseline section -->
            <div id="baseline" class="baseline">
                <h5>Baseline</h5>
            </div>

            <!-- User Form Begins Here!!! -->
            <form action="/prototyping" method = "POST">

                <p>Historical Data <input type = "date" name = "historicalData" placeholder="mm/dd/yyyy"/></p>
                <p>Climatological Data <input type = "text" name = "climatologicalData" placeholder="mm" size="14"/></p>

                <!-- Adjustments sections with sliders -->
                <div id="adjustments" class="adjustments">
                    <h5>Adjustments</h5>
                </div>

                <!-- Sliders section -->
                <div class="slidecontainer">
                    <!-- Temperature -->
                    <span id="tempVal"> 0 </span>
                    <span> F</span>
                    <p>Temperature: <input type="range" min="-25" max="25" value="0" class="slider"name="tempSlider" id="tempSlider"></p>

                    <!-- Humidty -->
                    <span id="humidVal"> 0 </span>
                    <span> %</span>
                    <p>Humidty: <input type="range" min="-25" max="25" value="0" class="slider" name="humidtySlider" id="humiditySlider"> </p>

                    <!-- Wind speed -->
                    <span id="wndSpdVal"> 0 </span>
                    <span> mph</span>
                    <p>Wind Speed (mph): <input type="range" min="-25" max="25" value="0" class="slider" name="wndSpdSlider" id="wndSpdSlider"> </p>

                    <!-- Wind direction -->


                </div>
                <br>
                <p><input type = "submit" value = "Run" /></p>
            </form>
        <!-- End of inputs section -->
        </div>



        <!-- IMPACTS PAGE -->
        <div id="Impacts" class="Impacts">
            <p>The impacts page</p>
            <input id="EconomicButton" type="button" value="Economic" onclick="economicVisible();"/>
            <input id="HealthButton" type="button" value="Health" onclick="healthVisible();"/>
            <input id="DemographicButton" type="button" value="Demographic" onclick="demographicVisible();"/>
            <input id="EnvironmentButton" type="button" value="Environment" onclick="environmentVisible();"/>

            <div id="Economic" class="Economic">
                <p>Economic data goes here</p>
            </div>

            <div id="Health" class="Health">
                <p>Health data goes here</p>
            </div>

            <div id="Demographic" class="Demographic">
                <p>Demographic Data goes here</p>
            </div>

            <div id="Environment" class="Environment">
                <p>Environment Data goes here</p>
            </div>

        <!-- End of impacts page -->
        </div>

        <!-- End of right column -->
        </div>
        <!-- End of row -->
        </div>

    <!-- End of card body, which includes eye buttons, and form -->
    </div>

<!-- End of card class -->
</div>

<!-- End of user form page, which includes impact and inputs buttons -->
</div>

<!-- End of page -->
</div>


<!-- Updates the slider values, these can stay in the form since the values are not
 needed to be grabbed until the user runs the simulation.
  Found on: https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
<script>
var sliderTemp = document.getElementById("tempSlider");
var outputTemp = document.getElementById("tempVal");
outputTemp.innerHTML = sliderTemp.value; // Display the default slider value

var sliderHumid = document.getElementById("humiditySlider");
var outputHumid = document.getElementById("humidVal");
outputHumid.innerHTML = sliderHumid.value; // Display the default slider value

var sliderWndSpd = document.getElementById("wndSpdSlider");
var outputWndSpd = document.getElementById("wndSpdVal");
outputWndSpd.innerHTML = sliderWndSpd.value; // Display the default slider value


// Update the current slider value (each time you drag the slider handle)
sliderTemp.oninput = function() {
  outputTemp.innerHTML = this.value;
}

sliderHumid.oninput = function() {
  outputHumid.innerHTML = this.value;
}

sliderWndSpd.oninput = function() {
  outputWndSpd.innerHTML = this.value;
}
</script>

<!-- Switches between the inputs and impacts pages -->
<script>
    function inputsVisible() {
            document.getElementById('Inputs').style.display = 'block';
            document.getElementById('Impacts').style.display = 'none';
}

function impactsVisible() {
            document.getElementById('Inputs').style.display = 'none';
            document.getElementById('Impacts').style.display = 'block';
}
</script>

</script>

<!-- Switches between the different impacts pages -->
<script>
    function economicVisible() {
            document.getElementById('Economic').style.display = 'block';
            document.getElementById('Health').style.display = 'none';
            document.getElementById('Demographic').style.display = 'none';
            document.getElementById('Environment').style.display = 'none';
}

    function healthVisible() {
            document.getElementById('Economic').style.display = 'none';
            document.getElementById('Health').style.display = 'block';
            document.getElementById('Demographic').style.display = 'none';
            document.getElementById('Environment').style.display = 'none';
    }

    function demographicVisible() {
            document.getElementById('Economic').style.display = 'none';
            document.getElementById('Health').style.display = 'none';
            document.getElementById('Demographic').style.display = 'block';
            document.getElementById('Environment').style.display = 'none';
}

    function environmentVisible() {
            document.getElementById('Economic').style.display = 'none';
            document.getElementById('Health').style.display = 'none';
            document.getElementById('Demographic').style.display = 'none';
            document.getElementById('Environment').style.display = 'block';
}
</script>

<!-- Enables and disables visual layers -->
<script>
    function testsVisible() {
        var img = document.getElementById("TestButton");
        if (img.className == "open") {
            img.className = "closed";
            img.src = "{{url_for('static', filename='closed-eyes.png')}}";
        } else {
            // add plotly changes here
            // var graphs = {{graph_json | safe}};
            // Plotly.newPlot("chart",graphs,{});
            img.className = "open";
            img.src = "{{url_for('static', filename='openEye.png')}}";
        }
    }

    function testsVisible2() {
        var img = document.getElementById("TestButton2");
        if (img.className == "open") {
            img.className = "closed";
            img.src = "{{url_for('static', filename='closed-eyes.png')}}";
        } else {
            img.className = "open";
            img.src = "{{url_for('static', filename='openEye.png')}}";
        }
    }

    function testsVisible3() {
        var img = document.getElementById("TestButton3");
        if (img.className == "open") {
            img.className = "closed";
            img.src = "{{url_for('static', filename='closed-eyes.png')}}";
        } else {
            img.className = "open";
            img.src = "{{url_for('static', filename='openEye.png')}}";
        }
    }

    function testsVisible4() {
        var img = document.getElementById("TestButton4");
        if (img.className == "open") {
            img.className = "closed";
            img.src = "{{url_for('static', filename='closed-eyes.png')}}";
        } else {
            img.className = "open";
            img.src = "{{url_for('static', filename='openEye.png')}}";
        }
    }
</script>
{% endblock %}

