{% extends "base.html" %}
{% set active_page = "index" %}
{% set title = "Home" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>

<h1>Home</h1>
<p>
    How might wildfire affect your local community? How can you protect your family, home, and neighbors?
    You've got questions. We've got answers.
    Visualize wildfire risk and simulate the impacts of a hypothetical wildfire below.
</p>

<!-- Working on adding button that will hide the form and then expand the chart
this button currently can hide the form, but chart size wont get any bigger
<input id="HideForm" type="button" value="Hide Form" class="show" onclick="formVisible();"/>
-->

<div id="page" class="page row">

    <div id="chart" class="chart col"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graph_json | safe}};
        Plotly.plot("chart", graphs, {});
    </script>

    <!-- Switch between the inputs and impacts pages with button
     UPDATE: to a card and nicer buttons -->
    <div id="UserForm" class="UserForm col">

        <!-- Top half of the user form, with input and impact buttons style="width: 26rem;" -->
        <div id="Options" class="Options">
            <div class="row">
                <input id="InputsButton" class="btn btn-primary btn-lg" type="button" value="Inputs"
                       onclick="inputsVisible();"/>
                <input id="ImpactsButton" class="btn btn-primary btn-lg" type="button" value="Impacts"
                       onclick="impactsVisible();"/>
            </div>
        </div>

        <!-- Uses Bootstrap Cards to get more modern look style="width: 26rem;" -->
        <div class="card text-center bg-light special-card">

            <!-- INPUTS PAGE -->
            <div id="Inputs" class="Inputs">
                <div class="card-body">

                    <!-- Divides the eyes buttons and rest of form into their own columns, so that
                 the eyes being clicked do not submit the form-->
                    <div class="col-md-12">
                        <!-- Start of baseline section -->
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <h5>Baseline</h5>
                            </div>
                        </div>


                        <!-- User Form For Dates Begins Here!!! -->
                        <form action="/" method="POST">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="historicalRadio" name="baselineData" value="baselineHistorical">
                                    </div>
                                </div>
                                <div class="col-md-5" align="right">
                                    <label for="historicalRadio">Historical Data</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="date" class="form-control" name="historicalData" placeholder="mm/dd/yyyy"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="climatologicalRadio" name="baselineData" value="baselineClimatological">
                                    </div>
                                </div>
                                <div class="col-md-5" align="right">
                                    <label for="climatologicalRadio">Climatological Data</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="climatologicalData" placeholder="mm"/>
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="btn btn-primary" value="Get Data"/>
                            </div>
                        </form>
                        <br>

                        <!-- Adjustments sections with sliders -->
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <h5>Adjustments</h5>
                            </div>
                        </div>

                        <!-- Divides the eyes buttons and rest of form into their own columns, so that
                        the eyes being clicked do not submit the form-->

                        <!-- User Form For Parameters Begins Here!!! -->
                        <form action="/" method="POST">
                            <!-- Sliders section -->
                            <div class="slidecontainer row">
                                <!-- Temperature -->
                                <div class="col-md-1">
                                    <img id="EyeTemp" src="{{url_for('static', filename='closed-eyes.png')}}"
                                       width="30px" class="closed" onclick="tempVisible();"/>
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="tempSlider">Temperature</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="range" min="-25" max="25" value="0" class="form-range"
                                                           name="tempSlider" id="tempSlider">
                                </div>
                                <div class="col-md-3" align="right">
                                    <span id="tempPos"></span>
                                    <span id="tempVal">0</span>
                                    <span>F</span>
                                </div>
                            </div>

                            <div class="slidecontainer row">
                                <!-- Humidity -->
                                <div class="col-md-1">
                                    <img id="EyeHumidity" src="{{url_for('static', filename='closed-eyes.png')}}"
                                   width="30px" class="closed" onclick="humidityVisible();"/>
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="humiditySlider">Humidity</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="range" min="-25" max="25" value="0" class="form-range"
                                                   name="humiditySlider" id="humiditySlider">
                                </div>
                                <div class="col-md-3" align="right">
                                    <span id="humidPos"></span>
                                    <span id="humidVal">0</span>
                                    <span>%</span>
                                </div>
                            </div>

                            <div class="slidecontainer row">
                                <!-- Wind Speed -->
                                <div class="col-md-1">
                                    <img id="EyeWndSpd" src="{{url_for('static', filename='closed-eyes.png')}}"
                                    width="30px" class="closed" onclick="wndSpdVisible();"/>
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="wndSpdSlider">Wind Speed</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="range" min="-25" max="25" value="0" class="form-range"
                                           name="wndSpdSlider" id="wndSpdSlider">
                                </div>
                                <div class="col-md-3" align="right">
                                    <span id="wndSpdPos"></span>
                                    <span id="wndSpdVal">0</span>
                                    <span>mph</span>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Wind direction -->
                                <div class="col-md-1">
                                    <img id="EyeWndDir" src="{{url_for('static', filename='closed-eyes.png')}}"
                                     width="30px" class="closed" onclick="wndDirVisible();"/>
                                </div>
                                <div class="col-md-4" align="right">
                                    <label style="font-size: 15px;" for="circularSlider">Wind Direction</label>
                                </div>
                                <div class="col-md-4" align="center">
                                    <div id="circularSlider"></div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>


                            <div class="row">
                                <!-- Run Button -->
                                <input type="submit" class="btn btn-primary" value="Run"/>
                            </div>

                        </form>

                        <!-- End of col-md-6 -->
                    </div>

                    <!-- End of inputs section -->
                </div>

                <!-- End of inputs card body section -->
            </div>

            <!-- IMPACTS PAGE -->
            <div id="Impacts" class="Impacts">

                <div id="impactButtons">
                    <input id="EconomicButton" class="btn btn-primary" type="button" value="Economic"
                           onclick="economicVisible();"/>
                    <input id="HealthButton" class="btn btn-primary" type="button" value="Health"
                           onclick="healthVisible();"/>
                    <input id="DemographicButton" class="btn btn-primary" type="button" value="Demographic"
                           onclick="demographicVisible();"/>
                    <input id="EnvironmentButton" class="btn btn-primary" type="button" value="Environment"
                           onclick="environmentVisible();"/>
                </div>

                <div class="card-body">
                    <!-- Economic Page-->
                    <div id="Economic" class="Economic">
                        <h5 class="center">Direct Loss</h5>
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Structures Destroyed</p>
                                </div>
                                <div class="col-md-2" align="right">
                                    <span class="bolded" id="totStructDestr"> 124 </span>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span><span class="bolded" id="totStructDestrCost">
                                    50</span><span class="bolded">
                                    m</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Structures Damaged</p>
                                </div>
                                <div class="col-md-2" align="right">
                                    <span class="bolded" id="totStructDam">37</span>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span>
                                    <span class="bolded" id="totStructDamCost">10</span>
                                    <span class="bolded">m</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Firefighters Needed</p>
                                </div>
                                <div class="col-md-2" align="right">
                                    <span class="bolded" id="firefightersNeed">94</span>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span>
                                    <span class="bolded" id="firefightersNeedCost">1</span>
                                    <span class="bolded">m</span>
                                </div>
                            </div>

                            <br>
                            <h5 class="center"> Indirect Loss</h5>

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Business Closures</p>
                                </div>
                                <div class="col-md-2" align="right">
                                    <span class="bolded" id="totBusinClose">432</span>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span>
                                    <span class="bolded" id="totBusinCloseCost">10</span>
                                    <span class="bolded">m</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Evacuations</p>
                                </div>
                                <div class="col-md-2" align="right">
                                    <span class="bolded" id="totEvacuations">10</span>
                                    <span class="bolded">k</span>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span>
                                    <span class="bolded" id="totEvacuationsCost">50</span>
                                    <span class="bolded">m</span>
                                </div>
                            </div>

                            <br>
                            <h5 class="center"> Total Loss</h5>

                            <div class="row">
                                <div class="col-md-6" align="right">
                                    <p>Cost</p>
                                </div>

                                <div class="col-md-3" align="right">
                                    <span class="bolded">$</span>
                                    <span class="bolded" id="totCostEcon">121</span>
                                    <span class="bolded">m</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Health Page-->
                    <div id="Health" class="Health">
                        <h5 class="center">Losses</h5>
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Injuries</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="injuriesTot"> 34 </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Deaths</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="deathsTot"> 1 </span>
                                </div>
                            </div>

                            <br>
                            <h5 class="center">Resources Needed</h5>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Hospital Beds Needed</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="hospBedsTot"> 27 </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>ICU Beds Needed</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="ICUBedsTot">12</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Nurses Needed</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="nursesTot">10</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Doctors Needed</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="doctorsTot">5</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Demographic Page-->
                    <div id="Demographic" class="Demographic">
                        <h5 class="center">Communities Affected</h5>
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Cities</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="cityAffected">Palo Alto</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Counties</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="countyAffected">San Mateo</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Congressional Districts</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="districtAffected">CA-14</span>
                                </div>
                            </div>

                            <br>
                            <h5 class="center">Equity Factors</h5>
                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Household Income</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="houseIncome"> $50k </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Education Level</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="eduLevel"> Some college </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Median Age</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="medAge"> 41 </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Percent Nonwhite</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="percentNonWhite"> 23% </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Environment Page-->
                    <div id="Environment" class="Environment">
                        <h5 class="center">Consequences</h5>
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Acres Burned</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="acresBurned"> 342 </span>
                                    <span class="bolded"> ac</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Smoke Footprint</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="smokeFootprint"> 100 </span>
                                    <span class="bolded"> mi^2</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>Watershed Footprint</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="watershedFootprint"> 20 </span>
                                    <span class="bolded"> mi</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>CO2e Emissions</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="C02emissions"> 2 </span>
                                    <span class="bolded"> mmt</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7" align="right">
                                    <p>PM 2.5 Emissions</p>
                                </div>
                                <div class="col-md-4" align="left">
                                    <span class="bolded" id="PMemissions"> 31 </span>
                                    <span class="bolded"> u/gm^3</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- End of impacts page -->
                </div>


                <!-- End of card body, which includes eye buttons, and form -->
            </div>

            <!-- End of card class -->
        </div>

        <!-- End of user form page, which includes impact and inputs buttons -->
    </div>

    <!-- End of page -->
</div>


<!-- Updates the slider values, these can stay in the form since the values are not
 needed to be grabbed until the user runs the simulation.
  Found on: https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
<script>
    var sliderTemp = document.getElementById("tempSlider");
    var outputTemp = document.getElementById("tempVal");
    outputTemp.innerHTML = sliderTemp.value; // Display the default slider value

    var sliderHumid = document.getElementById("humiditySlider");
    var outputHumid = document.getElementById("humidVal");
    outputHumid.innerHTML = sliderHumid.value; // Display the default slider value

    var sliderWndSpd = document.getElementById("wndSpdSlider");
    var outputWndSpd = document.getElementById("wndSpdVal");
    outputWndSpd.innerHTML = sliderWndSpd.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    sliderTemp.oninput = function () {
        outputTemp.innerHTML = this.value;
        if (this.value > 0) {
            document.getElementById("tempPos").innerText = "+";
        } else {
            document.getElementById("tempPos").innerText = "";
        }
    }

    sliderHumid.oninput = function () {
        outputHumid.innerHTML = this.value;
        if (this.value > 0) {
            document.getElementById("humidPos").innerText = "+";
        } else {
            document.getElementById("humidPos").innerText = "";
        }
    }

    sliderWndSpd.oninput = function () {
        outputWndSpd.innerHTML = this.value;
        if (this.value > 0) {
            document.getElementById("wndSpdPos").innerText = "+";
        } else {
            document.getElementById("wndSpdPos").innerText = "";
        }
    }


</script>

<!-- Switches between the inputs and impacts pages -->
<script>
    function inputsVisible() {
        document.getElementById('Inputs').style.display = 'block';
        document.getElementById('Impacts').style.display = 'none';
    }

    function impactsVisible() {
        document.getElementById('Inputs').style.display = 'none';
        document.getElementById('Impacts').style.display = 'block';
    }

    function formVisible() {
        var button = document.getElementById("HideForm");

        if (button.className == "show") {
            button.className = "hide";
            //document.getElementById('UserForm').style.width = '0%';
            document.getElementById('UserForm').style.display = 'none';
            //document.getElementById('chart').style.width = '100%';
        } else {
            button.className = "show";
            //document.getElementById('chart').style.width = '60%';
            //document.getElementById('UserForm').style.width = '39%';
            document.getElementById('UserForm').style.display = 'inline-block';
        }
    }
</script>

</script>

<!-- Switches between the different impacts pages -->
<script>
    function economicVisible() {
        document.getElementById('Economic').style.display = 'block';
        document.getElementById('Health').style.display = 'none';
        document.getElementById('Demographic').style.display = 'none';
        document.getElementById('Environment').style.display = 'none';
    }

    function healthVisible() {
        document.getElementById('Economic').style.display = 'none';
        document.getElementById('Health').style.display = 'block';
        document.getElementById('Demographic').style.display = 'none';
        document.getElementById('Environment').style.display = 'none';
    }

    function demographicVisible() {
        document.getElementById('Economic').style.display = 'none';
        document.getElementById('Health').style.display = 'none';
        document.getElementById('Demographic').style.display = 'block';
        document.getElementById('Environment').style.display = 'none';
    }

    function environmentVisible() {
        document.getElementById('Economic').style.display = 'none';
        document.getElementById('Health').style.display = 'none';
        document.getElementById('Demographic').style.display = 'none';
        document.getElementById('Environment').style.display = 'block';
    }
</script>

<!-- Enables and disables visual layers -->
<script>
    function tempVisible() {
        var img = document.getElementById("EyeTemp");
        var img2 = document.getElementById("EyeWndDir");
        var img3 = document.getElementById("EyeWndSpd");
        var img4 = document.getElementById("EyeHumidity");
        if (img.className == "open") {
            closeEye(img);
        } else {
            // add plotly changes here
            // var graphs = {{graph_json | safe}};
            // Plotly.newPlot("chart",graphs,{});

            // Turn off all Plotly Traces
            for (let i = 0; i < graphs.data.length; i++) {
                graphs.data[i].visible = false;
            }
            graphs.data[15].visible = true;
            Plotly.restyle("chart", graphs, {});

            openEye(img);
            closeEye(img2);
            closeEye(img3);
            closeEye(img4);
        }
    }

    function humidityVisible() {
        var img = document.getElementById("EyeHumidity");
        var img2 = document.getElementById("EyeWndDir");
        var img3 = document.getElementById("EyeWndSpd");
        var img4 = document.getElementById("EyeTemp");
        if (img.className == "open") {
            closeEye(img);
        } else {
            openEye(img);
            closeEye(img2);
            closeEye(img3);
            closeEye(img4);
        }
    }

    function wndSpdVisible() {
        var img = document.getElementById("EyeWndSpd");
        var img2 = document.getElementById("EyeWndDir");
        var img3 = document.getElementById("EyeHumidity");
        var img4 = document.getElementById("EyeTemp");
        if (img.className == "open") {
            closeEye(img);
        } else {
            openEye(img);
            closeEye(img2);
            closeEye(img3);
            closeEye(img4);
        }
    }

    function wndDirVisible() {
        var img = document.getElementById("EyeWndDir");
        var img2 = document.getElementById("EyeWndSpd");
        var img3 = document.getElementById("EyeHumidity");
        var img4 = document.getElementById("EyeTemp");
        if (img.className == "open") {
            closeEye(img);
        } else {
            openEye(img);
            closeEye(img2);
            closeEye(img3);
            closeEye(img4);
        }

    }

    function closeEye(img) {
        img.className = "closed";
        img.src = "{{url_for('static', filename='closed-eyes.png')}}";
    }

    function openEye(img) {
        img.className = "open";
        img.src = "{{url_for('static', filename='openEye.png')}}";
    }
</script>


<!-- Circular slider  https://roundsliderui.com/demos.html#customizations -->
<script>
    $("#circularSlider").roundSlider({
        sliderType: "default",
        showTooltip: false,
        handleShape: "square",
        handleSize: "0",
        radius: 40,
        max: 360,
        startAngle: 90
    });
</script>

{% endblock %}

