{% extends "base.html" %}
{% set active_page = "problem" %}
{% set title = "Problem" %}

{% block content %}
<div class="problem">
    <h1>Problem</h1>
    <p>Each year millions of people are put at risk of becoming a victim of a wildfire. Most people understand
    that they are dangerous, but lack context with it. With temperatures only getting hotter, humidity decreasing, and wind speeds picking up,
    now it is more important than ever to be informed, and keep those around you informed. From family to friends, or from coworkers to neighbors.
    </p>

    <p>Embers from the wildfire are the biggest spreader of the wildfire itself, not the flames. This means that
    you could be hundreds of feet away, or across a river and still be at risk. Luckily, for wildfires being informed is half of the battle.
    Our resource page has links you can visit to learn more and be informed ranging from how to protect your home, to how to help prevent climate change</p>

    <p>Another aspect that is a large problem of wildfires is the people who risk their lives to stop them. Many firefighters risk, and lose their lives fighting
    to protect people and their homes from wildfires. With the technology to create self-driving cars available, there should not be a reason
     that technology cannot be used to automate the more dangerous parts of fighting fires, such as creating a barrier with a remote controlled bulldozer.
    Raising awareness to policy makers could make this a possibility.</p>
</div>
{% endblock %}
