# exclude PyCharm project settings and virtual environments
.idea/
.vscode/
.pytest_cache/
venv/
env/
conda/

# exclude experiment scripts
*.sh

# exclude cached/compiled code
__pycache__/
*.py[cod]
*$py.class

# exclude data files
*.DS_Store
*.zip
/exploration/data/LF2020_FBFM40_200_CONUS/
*.geojson
*.nc


# exclude notebook checkpoints
.ipynb_checkpoints/
