<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

 <nav>
     <a href="{{url_for('index')}}">Home</a> |
  <a href="{{url_for('about')}}">About</a> |
  <a href="{{url_for('contact')}}">Contacts</a> |
  <a href="{{url_for('problem')}}">The Problem</a> |
  <a href="{{url_for('solution')}}">Our Solution</a> |
  <a href="{{url_for('resources')}}">Resources</a>
</nav>

 <h1>Home</h1>
<p>Info about the home page will go here. This includes
    maps, results, selection options, and overlays</p>

</body>
</html>