<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>

 <nav>
     <a href="{{url_for('index')}}">Home</a> |
  <a href="{{url_for('about')}}">About</a> |
  <a href="{{url_for('contact')}}">Contacts</a> |
  <a href="{{url_for('problem')}}">The Problem</a> |
  <a href="{{url_for('solution')}}">Our Solution</a> |
  <a href="{{url_for('resources')}}">Resources</a>
</nav>

 <h1>Resources</h1>
<p>This page will include our resources and places users
    can go to learn more.</p>

</body>
</html>