{% extends "base.html" %}
{% set active_page = "about" %}
{% set title = "About" %}

{% block content %}
<div class="about">
    <h1>About</h1>
    <p>This website is a part of a project created for the Anthropocene Institute by Michigan State University capstone students during the Spring 2022 semester.
     The Anthropocene Institute sponsored our project, which was to create a wildfire risk simulator. Anthropocene emphasizes doing things
    for the good of everything, so our project is open source.</p>
    <br>
    <p>We wanted to create a project that was going to be useful, and impactful to people's lives. From raising awareness
    for people in low risk states like Michigan, or helping a Californian understand the risk they may face if a fire were to break out.
    The simulator also allows for easy adjustments, to allow for people to adjust for possible climate change and explore under worst case scenario conditions.
    </p>

    <p>This project was created by our wonderful team of Andrew McDonald, Jamie Schmidt, Ben Miller, Jingxian Chen, Nathan Woods, and Andrew Haas.
        Our two main sponsors from Anthropocene were Richard Chan and Frank Ling. Our team would like to dedicate this project to Richard, who suddenly passed away during
    the creation of the project. We are all very thankful to have had the pleasure to work with you, learn from you, and to try to impact the world with you. We would also like to thank Frank for
    doing everything he could for our group, and supporting us to create something we are all proud of.</p>
</div>
{% endblock %}
