{% extends "base.html" %}
{% set active_page = "contact" %}
{% set title = "Contact" %}

{% block content %}
<div class="container">
    <h1>Contact</h1>
    <br>
    <p>
        <a href="mailto:mike@anthinst.org">Mike Villena</a>
        from the Anthropocene Institute is the current project maintainer.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/contact-1.jpg" alt="Aerial view of pine trees. Original source: https://unsplash.com/photos/p7ri-9fOAC8">
    </div>
    <p>
        <a href="mailto:chenj140@msu.edu">Jingxian Chen</a>,
        <a href="mailto:haasandr@msu.edu">Andrew Haas</a>,
        <a href="mailto:mcdon499@msu.edu">Andrew McDonald</a>,
        <a href="mailto:mill2994@msu.edu">Ben Miller</a>,
        <a href="mailto:schmi710@msu.edu">Jamie Schmidt</a>, and
        <a href="mailto:woodsna1@msu.edu">Nathan Woods</a>,
        alumni of Michigan State University, are the project authors.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/contact-2.jpg" alt="Aerial view of pine trees. Original source: https://unsplash.com/photos/p7ri-9fOAC8">
    </div>
    <p>
        The source code supporting this application
        is availaible on <a href="https://github.com/andrewmcdonald27/CapstoneExploration">GitHub</a>.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/contact-3.jpg" alt="Aerial view of pine trees. Original source: https://unsplash.com/photos/p7ri-9fOAC8">
    </div>
</div>
{% endblock %}
