{% extends "base.html" %}
{% set active_page = "problem" %}
{% set title = "Problem" %}

{% block content %}
<div class="container">
    <h1>Problem</h1>
    <br>
    <p>
        In the last 60 years, over 500 wildfires have damaged California’s San Francisco Bay Area.
        Untold injuries, deaths, and damages have resulted.
        In the future, increasing temperatures and lengthened droughts driven by climate change will
        drive wildfires to wreak even more damage.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/problem-1.jpg" alt="Mountains with the glow of a wildfire in the background. Original source: https://unsplash.com/photos/2kqXGRGUNzQ">
    </div>
    <p>
        Despite these risks, public understanding of wildfire science is lacking.
        Accessible educational resources and wildfire simulators simply do not exist.
        And the simulators that do are often hidden behind paywalls.
        Or, they are so complex that an average user can be overwhelmed with options.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/problem-2.jpg" alt="Mountains with the glow of a wildfire in the background. Original source: https://unsplash.com/photos/2kqXGRGUNzQ">
    </div>
    <p>
        To address this gap, we present WRiFT: Wildfire Risks Forecasting Tool.
        WRiFT is a modern, minimalist, and intuitive web-based wildfire simulator.
        WRiFT is open-source and publicly available, designed to educate and empower residents in the San Francisco Bay Area.
    </p>
    <div class="divForFullWidthImage">
        <img class="fullWidthImage" src="../static/images/problem-3.jpg" alt="Mountains with the glow of a wildfire in the background. Original source: https://unsplash.com/photos/2kqXGRGUNzQ">
    </div>
    <p>
        WRiFT is built upon the physics-based FARSITE wildfire model developed by researchers at the US Forest Service,
        and may be used to simulate hypothetical wildfires under user-controlled conditions to predict fire spread and impacts.
        WRiFT helps Californians better understand the risk of wildfire before it arrives.
        We envision residents young and old, leaders novice and experienced, scientists aspiring and accomplished to find WRiFT useful.
    </p>
</div>
{% endblock %}

