{% extends "base.html" %}
{% set active_page = "resources" %}
{% set title = "Resources" %}

{% block content %}
<div class="resources">
    <h1>Resources</h1>
    <h2>Interested in learning more?</h2>

<div class="resourceInfo">
    <div class="row">
        <div class="col-md-6">
    <h3>Wildfires</h3>
    <p>wildfire 1</p>
    <p>wildfire 2</p>
    <p>wildfire 3</p>

        </div>
        <div class="col-md-6">
    <h3>Climate Change</h3>
    <p>Climate change 1</p>
    <p>Climate change 2</p>
    <p>Climate change 3</p>

        </div>
    </div>

<br>

    <div class="row">
        <div class="col-md-6">
    <h3>Protecting your home</h3>
    <p>Home 1</p>
    <p>Home 2</p>
    <p>Home 3</p>
        </div>
        <div class="col-md-6">
    <h3>The simulation</h3>
    <p>sim 1</p>
    <p>sim 2</p>
    <p>sim 3</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
